@import 'react-toastify/dist/ReactToastify.css';

body {
  margin: 0;
  padding: 2rem;
  background: linear-gradient(135deg, #3a3a3a, #1e1e1e);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
}

html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #f5f5f5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  flex: 1 0 auto;
  min-height: 100%;
  margin-bottom: 80px;
}

footer {
  flex-shrink: 0;
  background: #2a2a2a;
  color: #ddd;
  padding: 0.1rem;
  text-align: center;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  border-top: 1px solid #444;
  border-radius: 0 0 12px 12px;
}
